<h2>{{board.name}}</h2>
<h3>{{board.name}}'s tasks:</h3>

{{#each tasks}}
{{> task}}
{{/each}}

<h3>Add a new task</h3>
<form action="/task/create" method="POST">
  <label for="input-name">Task title</label>
  <input type="text" id="input-name" name="title" placeholder="Task title" />
  <label for="input-name">Task description</label>
  <input type="text" id="input-name" name="description" placeholder="Task description" />

  <label for="input-name">Task status</label>
  <select name="status" id="input-status" placeholder="Task status">
    <option value="To Do">To Do</option>
    <option value="In Progress">In Progress</option>
    <option value="In Review">In Review</option>
    <option value="Done">Done</option>
    <option value="Wishlist">Wishlist</option>
  </select>


  <button>Add task</button>
</form>

<h3>Members:</h3>
{{#each board.members}}
{{this.name}}
{{/each}}

<h3>Creator:</h3>
  <a href="/profile/{{board.creator._id}}">{{board.creator.name}}</a>
  </h3>

{{#if userIsOwner}}
  <a href="/board/{{board._id}}/edit">Edit Board</a>

  <form method="POST" action="/board/{{board._id}}/delete">
  <button>Delete Board</button>
  </form>
{{/if}}

<a href="/team/{{teams}}">Go Back</a>
