<h2>{{board.name}}</h2>
<h3>{{board.name}}'s tasks:</h3>
{{!-- order in kanban board style somehow at some point --}}

{{#each tasks}}
{{> task}}
{{/each}}

<h3>Add a new task</h3>
<form action="/task/create" method="POST">
  <label for="input-name">Task title</label>
  <input type="text" id="input-name" name="title" placeholder="Task title" />
  <button>Add task</button>
</form>

<h3>Members:</h3>
{{!-- {{#each board.members}}
{{> member}}
{{/each}}
{{! doesn't exist yet }}
<a href="/profile/{{team.user._id}}">{{team.user.name}}</a> --}}

<h3>Creator:</h3>
  <a href="/profile/{{board.creator._id}}">{{board.creator.name}}</a>
  </h3>

{{#if userIsOwner}}
  <a href="/board/{{board._id}}/edit">Edit Board</a>

  <form method="POST" action="/board/{{board._id}}/delete">
  <button>Delete Board</button>
  </form>
{{/if}}