<div class="board-name">
  <h2>{{board.name}}</h2>
</div>


<div class="container-lg">
  <div class="row">

  <div class="card col first"> 
    <p> <strong>To Do</strong></p>
    {{#each board.toDoTasks}}
      <div class="card">
        {{> task}}
      </div>
    {{/each}}
  </div>

  <div class="card col second"> 
    <p><strong>In Progress</strong></p>
    {{#each board.inProgressTasks}}
      <div class="card">
        {{> task}}
      </div>
    {{/each}}
  </div>

  <div class="card col third"> 
    <p><strong>In Review</strong></p>
    {{#each board.inReviewTasks}}
      <div class="card">
        {{> task}}
      </div>
    {{/each}}
  </div>

  <div class="card col fourth"> 
    <p><strong>Done</strong></p>
    {{#each board.doneTasks}}
      <div class="card">
        {{> task}}
      </div>
    {{/each}}
  </div>

  <div class="card col fifth"> 
    <p><strong>Wishlist</strong></p>
      {{#each board.wishlistTasks}}
      <div class="card">
      {{> task}}
    </div>
   {{/each}}
  </div>

  </div>
</div>

<br>
<br>
<br>


<div class="container-lg">
<div class="row">

<div class="col-10">
  
<h3>Add a new task</h3>
<form action="/task/create" method="POST">
<div>
  <input type="text" id="input-name" name="title" placeholder="Task title" />
  <br>
  <input type="text" id="input-name" name="description" placeholder="Task description" />
  <br>
</div>


  <label for="input-name">Task status</label>
  <select name="status" id="input-status" placeholder="Task status">
    <option value="To Do">To Do</option>
    <option value="In Progress">In Progress</option>
    <option value="In Review">In Review</option>
    <option value="Done">Done</option>
    <option value="Wishlist">Wishlist</option>
  </select>
  <br>
  <button>Add task</button>
</form>
</div>

<div class="col-2">
<div>
<h3>Creator: <a href="/profile/{{board.creator._id}}">{{board.creator.name}}</a></h3>
</div>

<div>
{{#if userIsOwner}}
  <a href="/board/{{board._id}}/edit">Edit Board</a>
  <form method="POST" action="/board/{{board._id}}/delete">
  <button>Delete Board</button>
  </form>
{{/if}}
</div>
</div>
</div>

<a href="/team/{{teams}}">Go Back</a> 

</div>