<h1>{{task.status}}</h1>

<h3>Task: {{task.title}}</h3>

{{#if task.description}}
  <h4>Description: {{task.description}}</h4>
{{/if}}

<a href="/task/{{task._id}}/edit">Edit Task</a>
<br />
<br />
<form method="POST" action="/task/{{task._id}}/delete">
  <button>Delete Task</button>
</form>

<a href="/board/{{boardId}}">Go Back</a>