<h1>Task Single</h1>

<h3>{{task.status}}:</h3>
<h3>{{task.title}}</h3>
<h4>{{task.description}}</h4>

<a href="/task/{{task._id}}/edit">Edit Task</a>

<form method="POST" action="/task/{{task._id}}/delete">
  <button>Delete Task</button>
</form>

<a href="/board/{{boardId}}">Go Back</a>