<h1>Task Single</h1>

<h2>Title: {{task.title}}</h2>
<h4>Description: {{task.description}}</h4>

<a href="/task/{{task._id}}/edit">
  Edit Task
</a>

<form method="POST" action="/task/{{task._id}}/delete">
  <button>Delete Task</button>
</form>

<a href="/board/{{boardId}}">Go Back</a>
{{! button to functionaly allow user to go back }}