<h2>{{team.name}}</h2>

<h3>{{team.name}}'s boards</h3>
{{#each boards}}
{{> board}}
{{/each}}

{{!-- create new board --}}

<h3>Create a new board</h3>

<form action="/board/create" method="POST">
  <label for="input-name">Board Name</label>
  <input type="text" id="input-name" name="name" placeholder="Board Name" />
  <button>Create board</button>
</form>


<h3>Members:</h3>
{{#each users}}
{{> user}}
{{/each}}
{{! doesn't exist yet }}
<a href="/profile/{{team.user._id}}">{{team.user.name}}</a>

<h3>Creator:
  <a href="/profile/{{team.creator._id}}">{{team.creator.name}}</a>
  </h3>


{{#if userIsOwner}}
  {{!-- <a href="/team/{{team._id}}/edit"> --}}

  <a href="/team/{{team._id}}/edit">Edit Team</a>

  <form method="POST" action="/team/{{team._id}}/delete">
  <button>Delete Team</button>
  </form>
{{/if}}